$primary-color-text: #444444;
$additional-color-text: #000000;

$primary-bg-color: #68b738;
$additional-bg-color: #f2f2f2;

$primary-font: "Lato", "Arial", sans-serif;
$additional-font: "Oswald", "Arial", sans-serif;
