.banner {
  padding-block: 35px;

  @media (min-width: $tablet) {
    padding-block: 70px 72px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.banner__wrapper {
  background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)), image-set("../images/banner-background-mobile@1x.jpg" 1x type("image/jpg"), "../images/banner-background-mobile@2x.jpg" 2x type("image/jpg")), linear-gradient(#333333);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 59px 58px 44px;
  background-position: center;

  @media (min-width: $tablet) {
    background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)), image-set("../images/banner-background-tablet@1x.jpg" 1x type("image/jpg"), "../images/banner-background-tablet@2x.jpg" 2x type("image/jpg")), linear-gradient(#333333);
    padding: 57px 125px 62px 75px;
  }

  @media (min-width: $desktop) {
    padding: 56px 42px 45px;
    background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)), image-set("../images/banner-background-desktop@1x.jpg" 1x type("image/jpg"), "../images/banner-background-desktop@2x.jpg" 2x type("image/jpg")), linear-gradient(#333333);
  }
}

.banner__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  display: block;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
  }

  @media (min-width: $desktop) {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 46px;
    width: 161px;
  }
}

.banner__text::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background: url("../../icons/stack.svg#icon-gift") no-repeat center;
  margin: 0 auto 48px;

  @media (min-width: $tablet) {
    margin: 0;
    flex-shrink: 0;
  }
}
