.card-more {
  background-color: inherit;
}

.card-more__title {
  @include subtitle;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.card-more__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../icons/stack.svg#icon-more");
}

.card-more__description {
  font-size: 12px;
  line-height: 16px;
}

.card-more__button {
  @include base-link(#444444);
}
