.example {
  background-color: $additional-bg-color;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  @include base-list;
}

.example__item-subtitle {
  font-size: 24px;
  line-height: 24px;
  color: $additional-color-text;
  font-family: $additional-font;
}

.example__item-signature {
  font-size: 12px;
  line-height: 12px;
}

.example__summary {
  font-size: 14px;
  line-height: 20px;
  color: $additional-color-text;
  font-family: $additional-font;
}
