.hero {
  font-family: $additional-font;
  color: #ffffff;
}

.hero__wrapper {
  background-image: linear-gradient(rgba(#68b738, 0.85) 61%, #ffffff 39%), image-set("../images/hero-background@1x.jpg" 1x type("image/jpg"), "../images/hero-background@2x.jpg" 2x type("image/jpg"));
  background-position: top;
  background-repeat: no-repeat;
}

.hero__title {
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
