.hero {
  font-family: $additional-font;
  color: #ffffff;

  @media (min-width: $tablet) {
    color: $additional-color-text;
  }
}


.hero__wrapper {
  background-image: linear-gradient(rgba(#68b738, 0.85) 61%, #ffffff 39%), image-set("../images/hero-background@1x.jpg" 1x type("image/jpg"), "../images/hero-background@2x.jpg" 2x type("image/jpg")), linear-gradient(#444444);
  background-position: top;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    background: #ffffff;
  }

  @media (min-width: $desktop) {
    background: 0 0;
    display: grid;
    grid-template-columns: 424px 532px;
  }
}

.hero__wrapper::before {
  @media (min-width: $desktop) {
    background-image: linear-gradient(to right, #ffffff 42%, rgba(#68b738, 0.85) 42%), image-set("../images/hero-background-desktop@1x.jpg" 1x type("image/jpg"), "../images/hero-background-desktop@2x.jpg" 2x type("image/jpg")), linear-gradient(#333333);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #333333;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.hero__text {
  padding-top: 27px;

  @media (min-width: $tablet) {
    max-width: 420px;
    margin-left: 86px;
    padding-top: 65px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.hero__title {
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    line-height: 60px;
    text-align: left;
    font-size: 60px;
    margin-bottom: 40px;
  }
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 29px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;

  @media (min-width: $tablet) {
    line-height: 20px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 21px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.hero__button {
  display: block;
  width: 100%;
  padding: 10px;
  padding-inline: 25px;

  @media (min-width: $tablet) {
    // position: absolute;
    // z-index: 1;
    // min-width: 244px;
    // width: max-content;
    // top: 270px;
    // left: 120px;
  }
}
