.logo-academy__link {
  @include base-link($primary-color-text);
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    gap: 23px;
    font-size: 16px;
  }
}

.logo-academy__link::after {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#logo-html");
  mask-repeat: no-repeat;
  background-color: #666666;
  justify-self: end;
}

.logo-academy__link:hover::after {
  background-color: $primary-bg-color;
}

.logo-academy__link:focus::after {
  background-color: $primary-bg-color;
}

.logo-academy__link:active::after {
  background-color: $primary-bg-color;
  opacity: 0.3;
}
