.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-family: $primary-font;
  color: $primary-color-text;
  margin: 0;
}

.page__header {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}
