.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content min-content;
  padding-top: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr;
    background-image: linear-gradient(#ffffff 16%, $additional-bg-color 16%);
    grid-template-rows: max-content 1fr min-content;
    align-items: center;
    justify-content: center;
    padding: 10px 37px 40px;
  }
}

.product-card__image-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__image {
  width: 140px;
  height: 107px;
  display: block;

  @media (min-width: $tablet) {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 12px;
  }
}

.product-card__title-link {
  @include base-link(#222222);
}

.product-card__title {
  @include subtitle;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 14px;
  display: block;
  max-width: 76px;

  @media (min-width: $tablet) {
    text-align: center;
    margin: 0 auto 15px;
    max-width: 135px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.product-card__list {
  @include base-list;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }
}


.product-card__item {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    padding-block: 5px 4px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__text {
  margin: 0;
}

.product-card__value {
  margin: 0;
}

.product-card__link {
  @include base-link(#ffffff);
  grid-column: 1/ -1;
  padding: 10px 30px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
