.services {
  background-color: #ffffff;
}

.services__list {
  @include base-list;

  @media (min-width: $desktop) {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
  }
}

.services__item {
  margin-bottom: 20px;
  min-height: 266px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
    min-height: 372px;
    margin-top: 5px;
  }

  @media (min-width: $desktop) {
    width: 570px;
  }
}
