.service-card {
  background-color: $additional-bg-color;
  padding: 30px 20px 18px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 77px 63px 53px 53px;
  }

  @media (min-width: $desktop) {
    padding: 77px 61px 55px 52px;
  }
}

.service-card::before {
  content: "";
  position: absolute;
  display: block;
  background: $primary-bg-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 21px;

  @media (min-width: $tablet) {
    width: 200px;
    height: 200px;
    top: 93px;
    right: 60px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
    right: 0;
  }
}

.service-card::after {
  content: "";
  display: block;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 18px;

  @media (min-width: $tablet) {
    top: 80px;
  }

  @media (min-width: $desktop) {
    top: 47px;
  }
}

.service-card--slim::after {
  background: url("../../icons/stack.svg#cat-slim") no-repeat;
  width: 36px;
  left: 27px;

  @media (min-width: $tablet) {
    height: 194px;
    width: 140px;
    right: 86px;
    left: auto;
  }

  @media (min-width: $desktop) {
    height: 97px;
    width: 70px;
    right: 0;
    left: 67px;
  }
}

.service-card--pro::after {
  background: url("../../icons/stack.svg#cat-pro") no-repeat;
  width: 67px;
  left: 10px;

  @media (min-width: $tablet) {
    height: 112px;
    width: 268px;
    right: 22px;
    top: 139px;
    left: auto;
  }

  @media (min-width: $desktop) {
    height: 56px;
    width: 134px;
    right: 0;
    top: 67px;
    left: 33px;
  }
}

.service-card__title {
  @include subtitle;
  color: $additional-color-text;
  font-size: 24px;
  line-height: 37px;
  margin: 0 0 29px 29px;
  padding-left: 40px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    margin-left: 162px;
  }
}


.service-card__description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;
    padding: 0;
    border: none;
    display: block;
    width: 340px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.service-card__link {
  @include base-link($additional-color-text);
  @include subtitle;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;


  @media (min-width: $tablet) {
    font-size: 20px;
    gap: 25px;
    line-height: 20px;
  }
}

.service-card__link::after {
  content: "";
  display: block;
  width: 32px;
  height: 12px;
  background-image: url("../../icons/stack.svg#arrow");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -8px;
  transition: all 0.3s linear;
}

.service-card__link:hover::after {
  background-position: 0;
}

.service-card__link:active {
  opacity: 0.3;
}
