.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
}

.subscribe__text {
  color: $additional-color-text;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 24px;
}
