.subscribe {
  @media (min-width: $tablet) {
    position: relative;
  }
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 7px 40px;

  @media (min-width: $tablet) {
    align-items: center;
  }
}

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    padding-inline: 40px;
    background-color: #ffffff;
    display: inline-block;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
    margin-left: -40px;
    margin-bottom: 70px;
  }
}

.subscribe__title::before {
  @media (min-width: $tablet) {
    content: "";
    display: block;
    height: 2px;
    background-color: $primary-bg-color;
    width: 30px;
    margin-left: -34px;
    margin-right: 40px;
    flex-shrink: 0;
  }

  @media (min-width: $tablet) {
    height: 0;
  }
}

.subscribe__title::after {
  content: "";
  height: 2px;
  background-color: $primary-bg-color;
  display: block;
  width: 34px;
  max-width: 100%;
  flex-grow: 1;
  margin: auto -20px auto 40px;

  @media (min-width: $tablet) {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 24px;
    right: 0;
    left: 0;
    z-index: -1;
  }
}

.subscribe__text {
  color: $additional-color-text;
  font-family: $additional-font;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    font-size: 24px;
    padding-inline: 34px;
    line-height: 32px;
  }
}
